{% extends 'base.html.twig' %}

{% block title %}Port-training{% endblock %}

{% block body %}
{% if not users.items is same as ([]) %}
<div class="container mt-4">
<h1>Utilisateurs</h1>
<a href="{{path('security.registration')}}" class="btn btn-primary mb-4">Création d'un admin</a>

  {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %}

<div class="alert alert-dismissible alert-warning">
 il y à 
   {{ users.getTotalItemCount }} 
  utilisateurs aux totals
</div>


<table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">edition compte</th>
      <th scope="col">Edition password</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody>
   {% for user in users %}
    <tr class="table-primary">
      <th scope="row">{{user.id}}</th>
      <td> {{user.fullName}}</td>
      <td> {{user.email}}</td>
      <td> {{user.roles[0]}}</td>
      
      <td>
         <a href="{{ path('user.edit',{id : user.id}) }}" class = "btn btn-info">Modifier</a>
      </td>
       <td>
      <a href="{{path('user.edit.password',{id : user.id})}}" class = "btn btn-warning">modifier</a>
      </td>
       <td>
      <a href="{{path('user.delete',{id : user.id})}}" class = "btn btn-warning">suppression</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(users) }}
</div>
{% else %}
<h4>Il n'y a pas de recette</h4>
{% endif %}
</div>
{% endblock %}
