{% extends 'base.html.twig' %}

{% block title %}
  Sport-training Partenaires
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
        <div class="card bg-secondary m-3"
        {{ form_start(form) }}

      <div class="form-group">
      {{ form_label(form.p) }}
      {{ form_widget(form.p) }}
      <div class="form-error">
        {{ form_errors(form.p) }}
      </div>
    </div>

      <div class="btn-group">
      {{ form_label(form.active) }}
      {{ form_widget(form.active) }}
      <div class="form-error">
        {{ form_errors(form.active) }}
      </div>
    </div>

        {{ form_end(form) }}
    </div>

      <div class="row">
        {% if partenaires.items is not same as([]) %}
          <div class="container">
            <div class="card my-3">
              <h1 class="card-header">
                Liste des partenaires
              </h1>
            </div>
            <div class="row justify-content-between">
              <div class="col-4">
                <a href="{{ path('partenaire.new') }}"
                  class="btn btn-success mb-4">
                  Créer un partenaire
                </a>
              </div>
            </div>

            {% for message in app.flashes('success') %}
              <div class="alert alert-success mt-4">
                {{ message }}
              </div>
            {% endfor %}

            <div class="container">
              <div class="row">
                {% for partenaire in partenaires %}
                  <div class="col-4 my-4">
                    <a href="{{
                      path(
                        'partenaire.user.index',
                        {
                          id: partenaire.id
                        }
                      )
                      }}"
                      class="btn btn-primary">
                      Responsable associé
                    </a>

                    <div class="card bg-secondary mb-3"
                      style="max-width: 20rem; ">
                      <div class="row justify-content-evenly">
                        <div class="mx-4 col card-header">
                          <h5>
                            PARTENAIRE : {{ (partenaire.name|length) > 8 ? (partenaire.name|slice(0, 8)) ~ '...' : partenaire.name }}
                          </h5>

                          <a href="{{
                            path(
                              'partenaire.edit',
                              {
                                id: partenaire.id
                              }
                            )
                            }}"
                            class="btn col btn-info">
                            Edit
                          </a>

                          <div class="row m-4">
                            {% if partenaire.active %}
                              <div class="form-check form-switch">
                                <input class="form-check-input fs-6"
                                  type="checkbox"
                                  disabled
                                  id="flexSwitchCheckChecked"
                                  checked="" />
                                <label class="badge bg-primary fs-6 mr-5"
                                  for="flexSwitchCheckChecked">
                                  Activation
                                </label>
                              </div>
                            {% else %}
                              <div class="form-check form-switch">
                                <input class="form-check-input fs-6"
                                  type="checkbox"
                                  disabled
                                  id="flexSwitchCheckDefault" />
                                <label class="badge bg-primary fs-6 mr-5"
                                  for="flexSwitchCheckDefault">
                                  Activation
                                </label>
                              </div>
                            {% endif %}
                          </div>
                          <a href="{{
                            path(
                              'partenaire.delete',
                              {
                                id: partenaire.id
                              }
                            )
                            }}"
                            class="col btn btn-success">
                            Delete
                          </a>
                        </div>
                      </div>
                      <a href="{{
                        path(
                          'structure.index',
                          {
                            id: partenaire.id
                          }
                        )
                        }}"
                        class="btn btn-info">
                        <div class="card-body">
                          <img src="{{ partenaire.logoUrl }}"
                            class="img-fluid"
                            alt="" />
                          <h2 class="card-title">
                            Description 
                          </h2>
                          <p class="card-text">
                            {{ (partenaire.fullDescription|length) > 24
                              ? (partenaire.fullDescription|slice(0, 24))
                                ~ '...'
                              : partenaire.fullDescription }}
                            {# {{ partenaire.shortDescription }} #}
                          </p>
                           <h4 class="card-title">
                            DPO
                          </h4>
                          <p class="card-text">
                            {{ (partenaire.dpo|length) > 30
                              ? (partenaire.dpo|slice(0, 30))
                                ~ '...'
                              : partenaire.dpo }}
                            {# {{ partenaire.fullDescription }} #}
                          </p>
                          

                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(partenaires) }}
          </div>
        {% else %}
          <h4>
            Il n'y a pas de partenairescomposer require
            knplabs/knp-paginator-bundle
          </h4>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
