{% extends 'base.html.twig' %}

{% block title %}
  Sport-training Partenaires
{% endblock %}

{% block body %}
  {% if partenaires.items is not same as([]) %}
    <div class="container">
      <h1>
        Partenaires
      </h1>
      <a href="{{ path('partenaire.new') }}" class="btn btn-primary mb-4">
        Créer un partenaire
      </a>

      {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
          {{ message }}
        </div>
      {% endfor %}

      <div class="container">
        <div class="row">
          {% for partenaire in partenaires %}
            <div class="col-4">
              <div class="card text-white bg-secondary mb-3"
                style="max-width: 20rem;">
                <div class="row">
                  <div class="mx-4 col card-header">
                    Nom partenaire: {{ partenaire.name }}
                    <a href="{{ path('partenaire.edit',{id : partenaire.id}) }}" class="btn btn-info">edit</a>
                    <div class="row my-4">
                      {% if partenaire.active %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input"
                            type="checkbox"
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="form-check-label"
                            for="flexSwitchCheckChecked">
                            Activation
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input"
                            type="checkbox"
                            id="flexSwitchCheckDefault" />
                          <label class="form-check-label"
                            for="flexSwitchCheckDefault">
                            Activation
                          </label>
                        </div>
                      {% endif %}
                      <a href="{{ path('partenaire.delete',{id : partenaire.id}) }}" class="col btn btn-info">delete</a>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <h4 class="card-title">
                    {{ partenaire.shortDescription }}
                  </h4>
                  <p class="card-text">
                    {{ partenaire.fullDescription }}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="navigation d-flex justify-content-center mt-4">
      {{ knp_pagination_render(partenaires) }}
    </div>
  {% else %}
    <h4>
      Il n'y a pas de partenairescomposer require knplabs/knp-paginator-bundle
    </h4>
  {% endif %}
{% endblock %}
