{% extends 'base.html.twig' %}

{% block title %}
  Sport-training Partenaires
{% endblock %}

{% block body %}
  {# {% if partenaires.items is not same as([]) %} #}
    <div class="container">
      <div class="card my-3">
        <h1 class="card-header">
          Acces Partenaire
        </h1>
      </div>
      </div>

      {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
          {{ message }}
        </div>
      {% endfor %}

      <div class="container">
        <div class="row">
      {% if partenaire is not null %}
            <div class="col-4">
    

                <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                <div class="row justify-content-evenly">
                  <div class="mx-4 col card-header">
                    <h5>
                      PARTENAIRE :     {{ partenaire.name|length > 8 ? partenaire.name|slice(0, 8) ~ '...' : partenaire.name  }}
                    </h5>
                
                    <div class="row  m-4">
                      {% if partenaire.active %}
                        <div class="form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            Activation
                          </label>
                        </div>
                      {% else %}
                        <div class="form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled  
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            Activation
                          </label>
                        </div>
                      {% endif %}
                    
                    </div>
                  </div>
                </div>
            
                
                <div class="card-body" style="height: 18rem;">
                  {# <img src="{{ partenaire.logoUrl }}" class="img-fluid" alt=""> #}
                    <h2 class="card-title">Description</h2>
                    <p class="card-text">
                    {{ partenaire.shortDescription|length > 30 ? partenaire.shortDescription|slice(0, 30) ~ '...' : partenaire.shortDescription  }}
                      {# {{ partenaire.shortDescription }} #}
                    </p>
                    <h2 class="card-title">Description</h2>
                    <p class="card-text">
                       {{ partenaire.fullDescription|length > 120 ? partenaire.shortDescription|slice(0, 120) ~ '...' : partenaire.shortDescription  }}
                      {# {{ partenaire.fullDescription }} #}
                    </p>
                  </div>
                

                     <div class="row mx-1 bg-info">
                       <h3 class="my-2">Acces</h3>
                       <div class="row mx-3">
                    {% if partenaire.membersRead %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            membersRead
                          </label>
                        
                      {% else %}
                        <div class="col form-check form-switch">
                            <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                         <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            membersRead
                          </label>
                        </div>
                      {% endif %}
                      </div>
                      </div>

                      <div class="row mx-3">
                      {% if partenaire.membersWrite %}
                        <div class="col form-check form-switch">
                            <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            membersWrite
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                            <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                         <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            membersWrite
                          </label>
                        </div>
                      {% endif %}
                      </div>
                    <div class="row mx-3">


                      {% if partenaire.membersProduct %}
                        <div class="col form-check form-switch">
                           <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                        <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            membersProduct
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                         <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                         <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            membersProduct
                          </label>
                        </div>
                      {% endif %}
                      </div>

                      <div class="row mx-3">
                      {% if partenaire.membersPayment %}
                        <div class="col form-check form-switch">
                         <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            membersPayment
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                            <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                        <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            membersPayment
                          </label>
                        </div>
                      {% endif %}
                      </div>

                       <div class="row mx-3">
                      {% if partenaire.membersStat %}
                        <div class="col form-check form-switch">
                         <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                         <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            membersStat
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                       <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            membersStat
                          </label>
                        </div>
                      {% endif %}
                      </div>

                       <div class="row mx-3">
                      {% if partenaire.membersSubscription %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            membersSubscription
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                           <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                        <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            membersSubscription
                          </label>
                        </div>
                      {% endif %}
                      </div>


                       <div class="row mx-3">
                      {% if partenaire.paymentSchedulesRead %}
                        <div class="col form-check form-switch">
                           <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                         <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            paymentSchedulesRead
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                            <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                        <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            paymentSchedulesRead
                          </label>
                        </div>
                      {% endif %}
                      </div>


                       <div class="row mx-3">
                      {% if partenaire.paymentSchedulesWrite %}
                        <div class="col form-check form-switch">
                            <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            paymentSchedulesWrite
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                 <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                         <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            paymentSchedulesWrite
                          </label>
                        </div>
                      {% endif %}
                      </div>


                       <div class="row mx-3">
                      {% if partenaire.paymentDaysRead %}
                        <div class="col form-check form-switch">
                       <input class="form-check-input fs-6"
                            type="checkbox" disabled 
                            id="flexSwitchCheckChecked"
                            checked="" />
                        <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            paymentDaysRead
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                           <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                       <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            paymentDaysRead
                          </label>
                        </div>
                      {% endif %}
                      </div>


                     <div class="row mx-3">
                      {% if partenaire.paymentDayWrite %}
                        <div class="col form-check form-switch">
                           <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            paymentDayWrite
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                            <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                         <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            paymentDayWrite
                          </label>
                        </div>
                      {% endif %}
                      </div>
                     
                    
               </div>
              </div>
            </div>

        </div>
      </div>
    </div>
   
    <div class="container">
      <div class="card my-3">
        <h1 class="card-header">
          Acces structures
        </h1>
      </div>
      </div>

   <div class="container">

        <div class="row">
          {% for structure in structures %}
          
            <div class="col-4">
              <div class="card text-white bg-info mb-3"
                style="max-width: 20rem;">
                <div class="row">
                  <div class="mx-4 col card-header">
                    Nom structure: {{ structure.nameStructure }}
            
                    <div class=" my-4">
                      {% if structure.activeStructure %}
                        <div class="col form-check form-switch">
                      <input class="form-check-input fs-6"

                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            Activation
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"

                            type="checkbox"
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            Activation
                          </label>
                        </div>
                      {% endif %}
                      {# <a href="{{ path('partenaire.delete',{id : partenaire.id}) }}" class="col btn btn-info">delete</a> #}
                    </div>
                  </div>
                </div>

                <div class="card-body bg-success">
                  <h4 class="card-title">
                  Responsable :   
                  </h4>
                 <p class="card-text">
                 {{ structure.adresseStructure }}
                  </h4>

                   <h4 class="card-title">
                  Adresse   
                  </h4>
                  <p class="card-text">
                   adresse : {{ structure.adresseStructure }}
                  </p>

                {% if partenaire.membersRead %}
                
                  <div class="row mx-2">
                      {% if structure.membersRead %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            membersRead
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            membersRead
                          </label>
                        </div>
                      {% endif %}
                      </div>
                      {% endif %}


                      {% if partenaire.membersWrite %}
                     <div class="row mx-2">
                      {% if structure.membersWrite %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            membersWrite
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            membersWrite
                          </label>
                        </div>
                      {% endif %}
                      </div>
                      {% endif %}


                    
                    {% if partenaire.membersProduct %}
                       <div class="row mx-2">
                      {% if structure.membersProduct %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            membersProduct
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            membersProduct
                          </label>
                        </div>
                      {% endif %}
                      </div>
                      {% endif %}


                  {% if partenaire.membersPayment %}
                        <div class="row mx-2">
                      {% if structure.membersPayment %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            membersPayment
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            membersPayment
                          </label>
                        </div>
                      {% endif %}
                      </div>
                    {% endif %}


                        {% if partenaire.membersStat %}
                        <div class="row mx-2">
                      {% if structure.membersStistiquesRead %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            membersStat
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            membersStat
                          </label>
                        </div>
                      {% endif %}
                      </div>
                      {% endif %}




                      {% if partenaire.membersSubscription %}
                        <div class="row mx-2">
                      {% if structure.membersSubscriptionRead %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            membersSubscription
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            membersSubscription
                          </label>
                        </div>
                      {% endif %}
                      </div>
                       {% endif %}


                      {% if partenaire.paymentSchedulesRead %}
                        <div class="row mx-2">
                      {% if structure.paymentSchedulesRead %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            paymentSchedulesRead
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            paymentSchedulesRead
                          </label>
                        </div>
                      {% endif %}
                      </div>
                      {% endif %}


                        {% if partenaire.paymentSchedulesWrite %}
                       <div class="row mx-2">
                      {% if structure.paymentShedulesWrite %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            paymentSchedulesWrite
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            paymentSchedulesWrite
                          </label>
                        </div>
                      {% endif %}
                      </div>
                      {% endif %}


                      {% if partenaire.paymentDaysRead %}
                       <div class="row mx-2">
                      {% if structure.paymentDaysRead %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled 
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            paymentDaysRead
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            paymentDaysRead
                          </label>
                        </div>
                      {% endif %}
                      </div>
                      {% endif %}

                      {% if partenaire.paymentDayWrite %}
                       <div class="row mx-2">
                      {% if structure.paymentDaysWrite %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckChecked"
                            checked="" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckChecked">
                            paymentDayWrite
                          </label>
                        </div>
                      {% else %}
                        <div class="col form-check form-switch">
                          <input class="form-check-input fs-6"
                            type="checkbox" disabled
                            id="flexSwitchCheckDefault" />
                          <label class="badge bg-primary fs-6 mr-5"
                            for="flexSwitchCheckDefault">
                            paymentDayWrite
                          </label>
                        </div>
                      {% endif %}
                      </div>    
                       {% endif %}
                      </div>
            </div> </div>
          {% endfor %}
       
      </div>
    </div>
  {% else %}
    <h4>
      Il n'y a pas de partenairescomposer 
    </h4>
  {% endif %}
{% endblock %}
